/* universal selector */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.943),rgba(0, 0, 0, 0.24)), url(assets/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    margin:15px;
    font-family: 'Poppins', sans-serif;
   
}
/*---------------- header-------------- */
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
nav ul{
    display: flex;
    list-style: none;
    gap:45px;
    margin-right:40px;
    margin-top:5px;;
    
}
ul li a{
    text-decoration: none;
    color:orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:100;
}
/* ------button top ------- */
header button{
    background-color: hsl(0, 89%, 52%);
    padding:8px 25px ;
    border: none;
    color: rgb(225, 228, 231);
    cursor:cell;
  

}
header img{
    width: 100px;
}
/* --------------hero section----------------- */
main {
    display: flex;
    flex-direction:column;
    text-align: center;
    font-size:50px;
    padding: 0px;
    color:#ffc233;
    line-height:90px;
    max-width: 10154px;
    font-weight:400;
    margin-top:40px;
    /* border: 1px solid red; */
} 
main button{
   background-color: #ff0c0c;
   padding:10px 20px;
   color: white;
   border:none;
}
button:hover{
    background-color: #fff;
    color:#ff0c0c;
}
footer div{
    display: flex;
    justify-content:right;
    height: 100px;
}